body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./assets/fundo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 
}
#formPessoa {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 20px;
}
#formPessoa input, select {
    margin-bottom: 10px;
    padding: 5px;
}
.btn-visiveis button {
    padding: 5px;
    background-color: #841460;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 48%;
    height: 40px;
}
.btn-invisiveis {
    display: none;
}

.btn-visiveis {
    display: flex;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 40%;
    height: 80vh;
    margin: auto;
    background-color: #7a56a4;
    border-radius: 30px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    margin-top: 5%;
    color: white;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    width: 70%;
}

h3 {
    text-align: center;
    margin-bottom: 20px;
    width: 70%;
}